<% sketches.each do |sketch| %>
  <li><%= link_to sketch.title, edit_sketch_path(sketch) %> <%= if @is_current_user; ' | '; end %> <%= if @is_current_user; link_to 'Delete', sketch, method: :delete, data: { confirm: 'Are you sure?' }; end %></li>
<% end %>
